extends layout

block content

  h1 ID: #{iteminstance._id}

  p #[strong Name: ]
    a(href=iteminstance.item.url) #{iteminstance.item.name} 
    | - #{iteminstance.price}

  p #[strong Condition:]
    |  #{iteminstance.condition}

  hr
  p 
    a(href=iteminstance.url+'/delete') Delete ItemInstance