extends layout

block content
  h1 Item: #{item.name}

  p #[strong Category: ]
    each val, index in item.category
      a(href=val.url) #{val.name}
      if index < item.category.length - 1
        |, 
  p #[strong Description:] #{item.description}

  p #[strong Launch date:] #{item.launch_date_formatted}

  div(style='margin-left:20px;margin-top:20px')
    h4 Available SKUs

    each val in item_instances
      hr
      p #[strong ID: ]
       a(href=val.url) #{val._id} 
       | - #{val.condition} $#{val.price}

    else
      p There are no available SKUs.
  
  hr
  p 
    a(href=item.url+'/update') Update item
  p
    a(href=item.url+'/delete') Delete item

